/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --primary-spacing: 4px;
    --secondary-spacing: 2px;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --primary-font-family: 'Inter';
    --secondary-font-family: 'Inter';
    --primary-font-style: normal;
    --secondary-font-style: normal;
    --primary-font-size: 40px;
    --secondary-font-size: 16px;
    --border-radius: 50%;
    --border-color: #969696;
    --border-size: 3px;
}

/* Resume Container */
.resume-container {
    min-width: 900px;
    margin: 20px auto;
    background-color: #e2e1e1;
    display: none;
    flex-direction: column;
    zoom: 50%;
}

/* Header */
.header {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    padding: 50px 30px;
    text-align: left;
    display: flex;
    gap: 13vw;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: var(--primary-font-size);
    letter-spacing: var(--primary-spacing);
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
    color: var(--primary-font-color);
}

.header p {
    margin: 8px 0 0;
    font-size: 18px;
    letter-spacing: 5px;
}

.image2 {
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius);
    background-color: #cacaca;
    border-color: var(--border-color);
    border-width: var(--border-size);
    border-style: solid;
    position: absolute;
    right: 30px;
    top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Content */
.main-content {
    display: flex;
    background-color: var(--secondary-color);
    gap: 0;
    padding: 70px 20px;
}

.left-column {
    width: 35%;
}

.right-column {
    width: 65%;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 220px;
    gap: 20px;
    padding: 28px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact p {
    font-size: calc(var(--secondary-font-size) - 2px);
    font-weight: 700;
    font-family: var(--secondary-font-family);
    font-style: var(--secondary-font-style);
    color: var(--secondary-font-color);
    word-wrap: break-word;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: var(--secondary-spacing);

}

span i {
    font-size: 20px;
    color: var(--secondary-font-color);
}

/* Skills and Languages Sections */
.skills,
.languages {
    padding: 25px 0;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 354px;
}

.skills {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

/* Education, Experience, Profile Sections */
.education,
.experience,
.profile {
    border-left: 2px solid #000;
    padding: 25px 0;
    padding-left: 40px;
}

.education {
    height: 350px;
}

.experience {
    border-top: 2px solid #000;
    height: 270px;
}

.profile {
    border-bottom: 2px solid #000;
    height: 222px;
}

/* Headings */
h2 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
    color: var(--secondary-font-color);
    font-size: 30px;
}

.main-content h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: var(--secondary-font-color);
}

/* Lists */
ul {
    list-style-type: disc;
    padding: 0;
}

ul li {
    margin-bottom: 12px;
    font-family: var(--secondary-font-family);
    font-style: var(--secondary-font-style);
    color: var(--secondary-font-color);
    font-size: var(--secondary-font-size);
    font-weight: 600;
    letter-spacing: var(--secondary-spacing);

}

/* Paragraphs */
.profile p,
.education p,
.experience p {
    line-height: 1.6;
    font-size: var(--secondary-font-size);
    font-family: var(--secondary-font-family);
    font-style: var(--secondary-font-style);
    color: var(--secondary-font-color);
    letter-spacing: var(--secondary-spacing);
}


