.home {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.preloader {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: #f5f5f5;
    background: url('loader.gif') #f5f5f5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
}

.image-container {
    width: 50%;
    height: 70%;

}

.content {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.head {
    font-family: monument;
    font-size: 3.1rem;
    margin: 0;
    font-weight: 100;
}

.head i {
    margin-left: -5px;
    background-color: #024481;
    color: #fff;
    padding: 0 15px;
    border-radius: 6px;
}

.text {
    font-family: roboto;
    font-size: 24px;
}

.btn {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    color: #fff;
    background-color: #024481;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid #fff;

}


@media (max-width: 480px) {
    .image-container {
        display: none;
    }

    .content {
        width: 80%;
        overflow: hidden;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .head {
        font-size: 2rem;
        word-wrap: break-word;
        
    }

    .head i {
        margin-left: 0;
        padding: 0 2px;
        font-style: normal;
    }

    .text {
        font-size: 18px;
        line-height: 1.8rem;
    }
    .btn{
        width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
        

    }
}