/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto med;
    src: url(Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Black.ttf);
}

@font-face {
    font-family: franklin gothic;
    src: url(FranklinGothic.ttf);
}

@font-face {
    font-family: dmsans;
    src: url(DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: monument;
    src: url(MonumentExtended-Regular.otf);
}

/* Main Container */
main {
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.main2 {
    background-color: #967575;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* Image Styling */
.image {
    width: 200px;
    height: 200px;
    background-color: #cbcbcb;
    border: 5px solid #aaa8a8;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Container */
.container {
    width: 800px;
    height: fit-content;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;
}

/* Headings */
.heading-main {
    font-family: monument;
    margin: 20px 0;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    color: hsl(0, 0%, 16%);

}

.heading-pic {
    font-family: roboto med;
    font-weight: 500;
    font-size: 34px;
}

/* Resume Data Section */
#resumeData {
    background-color: #fafafa;
    border: 3px solid #edecec;
    box-shadow: 0px 0px 50px 3px #80808029;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
    margin-top: 50px;
    border-radius: 15px;
    padding: 50px 10px;
}

#resumeData .fieldset {
    display: flex;
    width: 70%;
    border: 3px solid #e6e5e5;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 8px 20px 4px #e5e5e5; */
}

#resumeData .fieldset input[type=text],
#resumeData .fieldset input[type=number],
#resumeData .fieldset input[type=tel],
#resumeData .fieldset input[type=email],
#resumeData .fieldset input[type=date],
#resumeData .fieldset textarea,
#resumeData .fieldset select {
    margin-bottom: 15px;
    height: 40px;
    border-radius: 7px;
    padding: 0 10px;
    outline: none;
    border: 2px solid #e0e0e0;
}

#resumeData .fieldset textarea {
    padding: 10px 10px;
    resize: none;
}

#resumeData .fieldset label {
    font-size: 18px;
    font-weight: 400;
    font-family: inter;
    margin-bottom: 8px;
    margin-top: 8px;
}

#resumeData .fieldset legend {
    font-size: 34px;
    font-family: roboto med;
    text-align: center;
    margin-bottom: 1.5rem;
}

#resumeData .fieldset input[type=submit] {
    background-color: rgb(3, 115, 219);
    color: white;
    padding: 11px 23px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 4px;
    margin: 50px 0;
}

/* Skills Section */
#skillMain {
    display: flex;
    flex-direction: column;
}

#eduMain {
    display: flex;
    flex-direction: column;
}

.skill-btn {
    background-color: rgb(3, 115, 219);
    color: white;
    padding: 11px 23px;
    font-family: monospace;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
    width: 40%;
    margin: 10px 145px;

}

/* Edit Panel */
.edit-panel {
    background-color: #fff;
    border-left: 2px solid #0373db;
    width: 30%;
    display: none;
    flex-direction: column;
    padding: 30px 15px;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    gap: 15px;
}

.edit-text {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: inter;
    font-weight: 400;
}

.edit-panel .color-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d1d1d1;
    box-shadow: 1px 1px 10px 0px rgb(223, 222, 222);
}

.color-wrapper input[type=color] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;

}

.font-style {
    height: 30px;
    background-color: #0373db;
    width: 100px;
    color: #fff;
    border-radius: 12px;
    border-color: #fff;
}

/* Buttons Section */
.buttons {
    display: none;
    flex-direction: column;
}

.create-btn,
#resumeData .fieldset input[type=submit] {
    background-color: rgb(3, 115, 219);
    color: white;
    padding: 11px 50px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 4px;
    margin: 50px 0;
    border-color: #fff;
}

/* Resume Link */
#resumeLink {
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    margin: 15px 0;
}

#eduMain2 {
    flex-direction: column;
    display: none;
}

#jobMain {
    flex-direction: column;
    display: none;
    margin-top: 70px;
}

.edit-panel-mobile {
    display: none;
}

.edit-option {
    display: none;
}

.zoom-btn {
    display: none;
    z-index: 3;
    position: absolute;
}

.zoom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #cccccc;
}

@media (max-width: 1024px) {
    .resume-container {
        /* transform: scale(0.9); */
        /* --scale: 0.9; */
    /* margin-bottom: calc((var(--scale) - 1)* 100%); */
    zoom: 45%;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    body {
        flex-direction: column !important;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .main2 {
        width: 100%;
    }

    .image {
        width: 100px;
        height: 100px;
    }

    .heading-main {
        font-size: 32px;
        text-align: center;
    }

    .heading-pic {
        font-size: 24px;
    }


    #resumeData {
        padding: 20px 10px;
        gap: 5vh;
    }

    #resumeData .fieldset {
        width: 100%;
        padding: 20px;
    }

    #resumeData .fieldset legend {
        font-size: 24px;
    }

    #resumeData .fieldset label {
        font-size: 16px;
    }


    #resumeData .fieldset input[type=text],
    #resumeData .fieldset input[type=number],
    #resumeData .fieldset input[type=tel],
    #resumeData .fieldset input[type=email],
    #resumeData .fieldset input[type=date],
    #resumeData .fieldset textarea,
    #resumeData .fieldset select {
        height: 35px;
        font-size: 16px;
    }

    .edit-option input[type=color] {
        width: 150px;
        min-height: 35px;
    }

    .edit-option>:nth-child(even) {
        margin-bottom: 10px;
    }

    .create-btn,
    .skill-btn {
        padding: 10px 20px;
        font-size: 16px;
        width: 80%;
        margin: 20px auto;
    }


    .resume-container {
        flex-direction: column;
        /* transform: scale(0.7); */
        /* --scale: 0.6; */
        /* margin-bottom: calc((var(--scale) - 1.5)* 100%); */
        zoom: 40%;
    }

    .buttons {
        width: 80%;
    }



    .left-column,
    .right-column {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .edit-panel-mobile .edit-panel-mobile div {
        display: none;
        width: 100%;
        height: 75px;
        border-bottom: 2px solid #cccccc;
        border-top: 2px solid #cccccc;
        overflow-y: hidden;
        align-items: center;
        justify-content: space-evenly;

    }

    .edit-panel-mobile div span {
        width: 50px;
        height: 50px;
        border: 2px solid #6d6d6d;
        border-radius: 15px;

    }

    .edit-text {
        font-size: 16px;
        margin-top: 10px;
        color: #000;
    }

    .edit-option {
        width: 100%;
        height: 200px;
        padding: 20px 10px;
        display: none;
        flex-direction: column;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-y: auto;
        /* margin-top: 50px; */
        /* animation: slideup 0.5s linear forwards; */
    }

    /* .font-size::after{
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        border: 2px solid #9E9E9E;
        border-radius: 15px;
        top: -80px;
        background: white;
    } */



    .edit-option div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    /* .edit-option>:nth-child(even) {} */

    .active {
        background-color: #fff;
        border: 1px solid #00BCD4;
    }

    .open {
        display: flex;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons img {
        width: 30px;
    }

    @keyframes slideup {
        from {
            transform: translateY(200px);
        }

        to {
            transform: translateY(0px);
        }

    }
}

@media (max-width: 480px) {
    .resume-container {
        /* transform: scale(0.4); Scales down to 50% */
        /* --scale: 0.4; */
        /* margin-bottom: calc((var(--scale) - 2)* 100%); */
        zoom: 35%;
    }
}